/* Reset CSS básico para remover margens e preenchimentos padrão */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0ff; /* Azul claro */
    color: #000000; /* Preto */
    line-height: 1.6;
}

header {
    background-color: #000000; /* Preto */
    color: #f0f0ff; /* Azul claro */
    padding: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: #f0f0ff; /* Azul claro */
}

main {
    padding: 20px;
}

#destaque {
    text-align: center;
    padding: 50px 0;
}

#destaque h1 {
    font-size: 2em;
}

#jogos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.jogo {
    width: 300px;
    margin: 10px 20px 10px 10px;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px #0000004f;
}

.descricao {
    white-space: normal;
}


.jogo img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.jogo h3 {
    font-size: 1.5em;
}

#sobre {
    margin-top: 50px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000; /* Preto */
    color: #f0f0ff; /* Azul claro */
}

h2, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Estilo para a seção */
.jogos-container {
    overflow-y: hidden; /* Adiciona a barra de rolagem vertical quando necessário */
    display: flex;
}

.jogo {
    width: 300px; /* Define a largura de cada jogo (ajuste conforme necessário) */
    margin-right: 20px; /* Adiciona um espaçamento entre os jogos */
    transition: .4s;
}

.jogo:hover {
    transition: .4s;
    background-color: rgba(0, 0, 0, 0.336);
    cursor: pointer;
}

.jogo iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.logout {
    float: right;
}