/* login.css */

/* Estilos para o formulário de login */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* branco */
    color: #000; /* preto */
    display: flex; /* Para alinhar verticalmente */
    align-items: center; /* Para alinhar verticalmente */
    height: 100vh; /* Altura total da tela */
    margin: 0; /* Remover margens padrão */
}

.card-body {
    margin: 0 auto;
    width: 250px;
    height: 500px;
    max-width: 25%; /* Largura máxima */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px #333333a9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #000; /* preto */
    border-radius: 4px;
    color: #000; /* preto */
}

.btn-primary {
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #000; /* preto */
    color: #fff; /* branco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin: 30px 0 30px 0;
}

.btn-primary:hover {
    background-color: #333; /* tom mais escuro ao passar o mouse */
}

h2 {
    margin: 30px 0 30px 0;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}