/* register.css */

/* Defina fontes e cores básicas para o formulário */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* branco */
    color: #000; /* preto */
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    color: #000; /* preto */
}

.form-content {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #000; /* preto */
    border-radius: 4px;
    color: #000; /* preto */
}

.help-text {
    font-style: italic;
    color: #888; /* cor cinza escuro para texto de ajuda */
}

.btn-py {
    width: 250px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #000; /* preto */
    color: #fff; /* branco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-py:hover {
    background-color: #333; /* tom mais escuro ao passar o mouse */
}

button {
    float: right;
}

a {
    text-decoration: none;
    text-align: center;
    float: left;
    text-transform: uppercase;
    width: 250px;
}

.btn-login {
    width: 250px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #000; /* preto */
    color: #fff; /* branco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #333; /* tom mais escuro ao passar o mouse */
}